// ==============================
// Post footer
// =============================

.footer {
  margin-top: $footer-margin-top;
}

#mnh-footer {
	width: 90%;
	margin: 32px auto 0;
	padding: 20px 0;
	border-top: 1px solid #e1e1e1;
    color: $dark-gray;
	font-size: 12px;
    max-width: $global-body-width;
	display: block;
    overflow: hidden;
}
